/*-------------------------
General
-------------------------*/

html { background: #D9DFE4 url("http://i.imgur.com/s3gf6.png"); font-family: "HelveticaNeue", Helvetica, Arial, sans-serif; }
body { font-family: "HelveticaNeue", Helvetica, Arial, sans-serif; color: #000;}

ul, li { margin:0; padding;0; }

a { color:#0756F1; }
a.white_link, a.white_link:visited {color:#fff;text-decoration:none;}
a.dark_gray_link,a.dark_gray_link:visited {text-decoration:none;color:#666;}

p { font-size: 14px; font-weight: 400px;}
form p { padding-bottom:0; }

strong { font-weight:bold; }
textarea {width:155px;height:50px;}

.light_blue_box {border:1px solid #C1D5E7;background:#e5ecf9;}

/*-------------------------
buttons
-------------------------*/

input[type="submit"], button {background:#148eed;background: #2276BF;border-color:#DFF2FF #333 #333 #DFF2FF;border-style:solid;border-width:1px; cursor:pointer;color:#fff; padding:5px 10px;font-weight:bold;}

/* hacks
--------------------------------------------- */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
.w-100 {
    width: 100%;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}

/* wrapper and divisions */
.wrapper {
    width: 950px;
    margin: 0 auto;
}

#events {
    height: 100px;
}

#map {
    height: 500px;
}
