/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}article,aside,dialog,figure,footer,header,hgroup,menu,nav,section{display:block;}

/* Global */
html { background: #d9dfe4 url("http://i.imgur.com/r2Rfc.png"); font-family: "HelveticaNeue", Helvetica, Arial, sans-serif; }

div#background {
    height: 230px;
    position: absolute;
    width: 100%;
    z-index: -1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,0.0)));
    height: 500px;
    opacity: 0.1;
}
div#header {
    height: 70px;
}
div#header img {
    margin-top: 20px;
}
div#content {
    position: relative;
    opacity: 1;
    -webkit-border-radius: 4px;
}

div#events {
    z-index: 10;
    width: 282px;
    position: absolute;
    margin-left: 4px;
    overflow: hidden;
}
div#map_canvas {
    border-radius: 3px;
    color: black;
    background: white;
    width: 100%;
    height: 100%;
    margin-left: 295px;
}
div#events img {
    border-radius: 3px;
}
div#events img.logo {
    margin-left: 70px;
}

div#events ul li+li {
    margin-top: 10px;
}

div#infowindow {
    overflow:hidden;
    height:auto;
}

li.public_payment {
    padding: 0px 10px 5px 10px;
}
li.private_payment {
    padding: 5px 0 9px 10px;
}
li.private_payment .date {
    margin-bottom: 10px;
}
div#events ul li {
    border: 1px solid #242424;
    background: #23303E;
    background: url("http://i.imgur.com/rxmdz.png") repeat, -webkit-gradient(linear, left top, left bottom, from(#2c2c2c), to(#353535));
    background: url("http://i.imgur.com/rxmdz.png") repeat, -webkit-linear-gradient(#2c2c2c, #353535);
    background: url("http://i.imgur.com/rxmdz.png") repeat, -moz-linear-gradient(center top, #2c2c2c 0%, #353535 100%);
    background: url("http://i.imgur.com/rxmdz.png") repeat, -moz-gradient(center top, #2c2c2c 0%, #353535 100%);
    border-radius: 3px;
}
div#events .date {
    font-size: 11px;
    color: #4D4D4D;
}
div#events .pics {
    padding: 5px 0 0 0;
}
li.public_payment .note {
    width: 110px;
}
li.private_payment .note{
    width: 280px;
    margin-left: 10px;
}
li.sign_up .note {
    width: 160px;
}
li.sign_up .date {
    margin-left: 10px;
}
li.sign_up .sign_up_pic {
    padding: 5px 0 5px 10px;
}

.note {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-background-clip: padding-box;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 6px;
    background-clip: padding-box;
    text-transform: none;
    -webkit-background-clip: padding-box;
    -webkit-border-radius: 6px;
    -moz-background-clip: padding-box;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-clip: padding-box;
    
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: bold;
    color: #1f4901;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    line-height: 1;
    margin: 0px 5px 5px 5px;
    text-decoration: none;
    text-align: left;
    border: none 0;
    cursor: pointer;
    
    background: #acd885;
    background: -webkit-gradient(linear, left top, left bottom, from(#acd885), to(#76b747));
    background: -webkit-linear-gradient(#acd885, #76b747);
    background: -moz-linear-gradient(center top, #acd885 0%, #76b747 100%);
    background: -moz-gradient(center top, #acd885 0%, #76b747 100%);
}
.shadow {    
    -webkit-box-shadow: inset 0 0.2px 2px #242424;
    -moz-box-shadow: inset 0 0.2px 2px #242424;
    box-shadow: inset 0 0.2px 2px #242424;
}

.float_left { float: left; }
.float_right { float: right; }

/* hacks
--------------------------------------------- */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
