<!DOCTYPE>
<html>
<head>
    <title>Sample test</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href='{{static_url("css/style.css")}}' rel='stylesheet' type='text/css' />
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{static_url('js/jquery-1.6.4.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/venmolive.js')}}"></script>
</head>
<body onload="initialize(); start_web_socket();">
    <div id="background"></div>
    <div id="header">
        <img src="{{static_url('assets/venmo-logo-medium-6.png')}}" />
    </div>
    <div id="content">
        <div id="events">
            <ul>
            </ul>
        </div>
        <div id="map_canvas" >
        </div>
    </div>

</body>
</html>
